@media (prefers-color-scheme: dark) {
    body {
        background-color: #1E1E1E;
        color: #C9C9C9;
    }

    h1 {
        color: #fcfcfc;
    }

    img {
        filter: brightness(0.8)
    }

    blockquote {
        background-color: #0A0A0A;
        border-left-color: #000
    }

    .logo span[data-title='CSS'] span:after {
        -webkit-transform: rotate(-52deg);
        -o-transform: rotate(-52deg);
        -moz-transform: rotate(-52deg);
        transform: rotate(-52deg);
    }

    .logo span[data-title='CSS'] span:nth-child(1):after {
        -webkit-transform: rotate(-68deg);
        -o-transform: rotate(-68deg);
        -moz-transform: rotate(-68deg);
        transform: rotate(-68deg);
        top: .05em;
    }


    .main-header {
        background-color: rgba(10, 10, 10, 0.5);
    }

    .main-header nav,
    .main-footer {
        background-color: #14180e;
    }

    .logo span[data-title='CSS'] span:after {
        background-color: #0A0A0A;
    }

    h2.listing-seperator,
    .tag_listing-seperator,
    .categories_listing-seperator {
        background-color: #1e1e1e;
    }

    .listing time {
        color: #858586;
    }

    .archive-info {
        border-top-color: #555;
    }

    .highlight {
        background: #000;
    }

    pre,
    code,
    kbd {
        background-color: #000;
        border-color: #252525;
    }

    .gt-container .gt-header-textarea {
        background-color: #0A0A0A;
    }

    .gt-container .gt-user-inner {
        fill: #C9C9C9;
    }

    .gt-container .gt-meta {
        border-bottom-color: #555;
    }

    #content article header {
        background-color: #1e1e1e;
    }
}