html,body{margin:0;padding:0;}
body{background-color:#FFFFFF;font-family:'Hiragino Sans GB','Microsoft YaHei',Simsun,Mingliu,Arial,Helvetica,sans-serif;font-size:85%;*font-size:90%;line-height:1.6em;}
*::-moz-selection{background-color:#323232;color:#FFFFFF;}
code::-moz-selection{background-color:#89D228;color:#FFFFFF;}
*::selection{background-color:#323232;color:#FFFFFF;}
code::selection{background-color:#7CB182;color:#FFFFFF;}
img,fieldset{border:0 none;}
blockquote p{margin:0;}
a:link,a:visited{color:#54BAF3;-webkit-transition:color .25s linear;transition:color .25s linear;text-decoration:none;padding:0 5px;}
a:hover{color:#FFFFFF;-webkit-transition:color .25s linear;transition:color .25s linear;background-color:#F27B2E;border-radius:3px;-webkit-border-radius:3px;}
header{padding:20px 0 0;background-color:#F1F1F1;}
header nav{overflow:hidden;margin-left:-14px;margin-top:16px;padding-left:38px;background-color:#444444;}
header nav ul{display:inline;padding:0;}
header nav li{display:inline-block;padding:8px 15px;list-style:none;font-family:inherit;}
header nav a:link,header nav a:visited{color:#FFFFFF;background-color:transparent;}
header nav li:hover{background-color:#3399FF;}
h1{color:#222222;}
h3 a:link,h3 a:visited{color:#222222;}
input[name="submit"].button{;background-color:rgba(60,132,198,0.8);background-image:-moz-linear-gradient(rgba(28,91,155,0.8) 0,rgba(108,191,255,.9) 90%);border-top-color:#8BA2C1;border-right-color:#5890BF;border-bottom-color:#4F93CA;border-left-color:#768FA5;-webkit-box-shadow:rgba(66,140,240,0.5) 0 10px 16px;-moz-box-shadow:rgba(66,140,240,0.5) 0 10px 16px;}
input[name="submit"].button.disabled{background-color:rgba(244,244,244,0.8);background-image:-moz-linear-gradient(rgba(244,244,244,0.8) 0,rgba(0,0,0,.9) 90%);border-color:#ADB2B5;-webkit-box-shadow:rgba(173,178,181,0.5) 0 0 0;-moz-box-shadow:rgba(173,178,181,0.5) 0 10px 16px;color:#6D6D6D;cursor:default;font-weight:normal;text-shadow:rgb(255,255,255) 0 0 5px;}
td,th{border:1px solid #CCCCCC;padding:6px;}
blockquote{margin:4px 0 4px 20px;padding:4px 8px;background-color:#EFEFEF;border-left:5px double #CCCCCC;}
blockquote:before{content:"“";}
blockquote:after{content:"”";}
sup{margin-left:-8px;}
em{padding:4px;}
pre,code,kbd{background-color:#F6F6F6;font-family:Consolas,"Courier New",Courier,monospace;}
pre{margin:4px 0;padding:4px 8px;border-color:#CCCCCC;border-style:solid;border-width:1px 1px 3px;word-wrap:break-word;-moz-box-shadow:0 3px 6px rgba(0,0,0,0.25);-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.25);}
a img[src="http://tcss.qq.com/icon/toss_11.gif"]{display:none}
footer{background-color:#EEEEEE;padding:0.1rem 0;}
footer p{margin-left:3rem;}
footer p a:link,footer p a:visited{padding:0;}
.gist pre,.gist td{background:none;border:none 0;-moz-box-shadow:none;-webkit-box-shadow:none;}
.logo{margin:0;padding:0 40px;font-size:380%;font-family:Helvetica,"Microsoft YaHei",STHeiti,Georgia,"Times New Roman",Times,serif;background-image:linear-gradient(bottom,#2EF5F5 17%,#309EFF 51%,#2B78ED 81%);}
.logo a:link,.logo a:visited{color:#6B6C6C;}
.logo a:hover{background-color:transparent;}
.logo span[data-title='CSS']{margin-right:5px;}
.logo span[data-title='CSS'] span{display:inline-block;position:relative;padding:20px 5px;border-radius:10px;color:#FFFFFF;}
.logo span[data-title='CSS'] span:after{content:"";display:block;position:absolute;top:0;left:32px;width:20px;height:60px;border-radius:20px;background-color:#F1F1F1;}
.logo span[data-title='CSS'] span:nth-child(1){color:#54BAF3;background-color:#54BAF3;z-index:9;}
.logo span[data-title='CSS'] span:nth-child(2){color:#89D228;background-color:#89D228;z-index:8;}
.logo span[data-title='CSS'] span:nth-child(3){color:#F27B2E;background-color:#F27B2E;z-index:7;}
.logo span[data-title='Forest']{display:inline-block;position:relative;z-index:10;margin-top:3px;color:#89D228;font-size:50%;vertical-align:top;}
.logo span[data-title='Forest']:after{content:attr(data-title)".org";display:inline-block;position:absolute;left:0;top:30px;color:rgba(84,186,243,.5);font-size:120%;}
.logo span[data-title='CSS']:hover span:after{-webkit-transform:rotate(-52deg);-o-transform:rotate(-52deg);-moz-transform:rotate(-52deg);transform:rotate(-52deg);}
.logo span[data-title='CSS']:hover span:nth-child(1):after{-webkit-transform:rotate(-68deg);-o-transform:rotate(-68deg);top:3px;-moz-transform:rotate(-68deg);top:3px;transform:rotate(-68deg);top:3px;}
.txpCommentInputMessage{width:50%;}
.button{width:120px;height:24px;-webkit-border-radius:16px;-moz-border-radius:16px;border:2px solid #ccc;position:relative;color:#FFFFFF;text-shadow:rgba(10,10,10,0.5) 1px 2px 2px;text-align:center;vertical-align:middle;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;background-color:#EE5526;background-image:-moz-linear-gradient(rgba(246,132,36,0.8) 0,rgba(239,97,49,0.9) 85%);border-top-color:#F7A250;border-right-color:#F7A050;border-bottom-color:#EF925E;border-left-color:#F6A460;-webkit-box-shadow:rgba(237,96,46,0.5) 0 4px 12px;-moz-box-shadow:rgba(237,96,46,0.5) 0 4px 12px;cursor:pointer;font-weight:bolder;}
.button:hover{text-shadow:rgb(255,255,255) 0 0 5px;}
.archive-info{border-top:1px solid #EFEFEF;}
.recent{-moz-column-count:2;-moz-column-gap:1em;-webkit-column-count:2;-webkit-column-gap:1em;}
.links{-moz-column-count:4;-moz-column-gap:1em;-webkit-column-count:4;-webkit-column-gap:1em;}
.lteie6_main{clear:both;padding:0 15px;border:1px solid #FFC832;background-color:#FFFFCC;}
.none{display:none;}
.accessibility{position:fixed;_position:absolute;top:82px;right:0;padding:10px 10px 10px 25px;background-color:#FFFFFF;}
.accessibility ul{margin:0;padding:0;list-style:square;}
.naked{display:none;}
.css-load-false{display:none;}
.indented_comment{position:relative;left:20px;}
.comment-id{font-size:50%;}
.lineno{background-color:#323232;color:#FFFFFF;padding:.2rem;}
#content{max-width:800px;padding:0 40px;margin-bottom:.5rem;}
#sidebar{border-top:.5rem solid #EEEEEE;}
#cse table td{border:none;}
#swete-basic-badge{position:absolute;left:-200px;}
