:root {
    --max-width: 652px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', Simsun, Mingliu, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
}

a[href^="http://"]:not([href*="cssforest.org"]):after,
a[href^="https://"]:not([href*="cssforest.org"]):after,
a[href^="//"]:not([href*="cssforest.org"]):after {
    content: " ";
    display: inline-block;
    width: 11px;
    height: 12px;
    margin-left: 2px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+Cgk8cGF0aCBmaWxsPSIjZmZmIiBzdHJva2U9IiMzNmMiIGQ9Ik0xLjUgNC41MThoNS45ODJWMTAuNUgxLjV6Ii8+Cgk8cGF0aCBmaWxsPSIjMzZjIiBkPSJNNS43NjUgMUgxMXY1LjM5TDkuNDI3IDcuOTM3bC0xLjMxLTEuMzFMNS4zOTMgOS4zNWwtMi42OS0yLjY4OCAyLjgxLTIuODA4TDQuMiAyLjU0NHoiLz4KCTxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik05Ljk5NSAyLjAwNGwuMDIyIDQuODg1TDguMiA1LjA3IDUuMzIgNy45NSA0LjA5IDYuNzIzbDIuODgyLTIuODgtMS44NS0xLjg1MnoiLz4KPC9zdmc+Cg==");
}

*::-moz-selection {
    background-color: #323232;
    color: #FFFFFF;
}

code::-moz-selection {
    background-color: #89D228;
    color: #FFFFFF;
}

*::selection {
    background-color: #323232;
    color: #FFFFFF;
}

code::selection {
    background-color: #7CB182;
    color: #FFFFFF;
}

img,
fieldset {
    border: 0 none;
}

a:link,
a:visited {
    color: #54BAF3;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
    text-decoration: none;
    padding: 0 5px;
}

a:hover {
    color: #FFFFFF;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
    background-color: #F27B2E;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

h1 {
    color: #222222;
}

h3 a:link,
h3 a:visited {
    color: #222222;
}

input[name="submit"].button {
    background-color: rgba(60, 132, 198, 0.8);
    background-image: -moz-linear-gradient(rgba(28, 91, 155, 0.8) 0, rgba(108, 191, 255, .9) 90%);
    border-top-color: #8BA2C1;
    border-right-color: #5890BF;
    border-bottom-color: #4F93CA;
    border-left-color: #768FA5;
    -webkit-box-shadow: rgba(66, 140, 240, 0.5) 0 10px 16px;
    -moz-box-shadow: rgba(66, 140, 240, 0.5) 0 10px 16px;
}

input[name="submit"].button.disabled {
    background-color: rgba(244, 244, 244, 0.8);
    background-image: -moz-linear-gradient(rgba(244, 244, 244, 0.8) 0, rgba(0, 0, 0, .9) 90%);
    border-color: #ADB2B5;
    -webkit-box-shadow: rgba(173, 178, 181, 0.5) 0 0 0;
    -moz-box-shadow: rgba(173, 178, 181, 0.5) 0 10px 16px;
    color: #6D6D6D;
    cursor: default;
    font-weight: normal;
    text-shadow: rgb(255, 255, 255) 0 0 5px;
}

table {
    border-collapse: collapse;
    width: 99.9%;
}

td,
th {
    border: 1px solid #CCCCCC;
    padding: 6px;
}

blockquote {
    margin: 1em;
    padding: 0 1em;
    background-color: #EFEFEF;
    border-left: 5px double #89D228;
    white-space: pre-line;
}

blockquote p {
    margin: 0;
}

sup {
    margin-left: -8px;
}

em {
    padding: 4px;
}

pre,
code,
kbd {
    background-color: #F6F6F6;
    font-family: Consolas, "Courier New", Courier, monospace;
}

code {
    white-space: pre-wrap;
}

pre {
    padding: 0 1em;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 1px 3px;
    word-wrap: break-word;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.none {
    display: none;
}

.paginator {
    line-height: 2;
    margin: 10px 0;
    text-align: center;
}

/* === logo === */
.logo {
    max-width: var(--max-width);
    margin: 0 auto;
    /* padding: 0 2em; */
    font-size: 3rem;
    font-family: Helvetica, "Microsoft YaHei", STHeiti, Georgia, "Times New Roman", Times, serif;
    background-image: linear-gradient(bottom, #2EF5F5 17%, #309EFF 51%, #2B78ED 81%);
}

.logo a {
    padding-left: 0;
}

.logo a:hover {
    background-color: transparent;
}

.logo span[data-title='CSS'] {
    margin-right: .2em;
}

.logo span[data-title='CSS'] span {
    display: inline-block;
    position: relative;
    padding: .4em .1em;
    border-radius: .16em;
    color: #FFFFFF;
}

.logo span[data-title='CSS'] span:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: .7em;
    width: .44em;
    height: 1.25em;
    border-radius: .2em;
    background-color: #F1F1F1;
}

.logo span[data-title='CSS'] span:nth-child(1) {
    color: #54BAF3;
    background-color: #54BAF3;
    z-index: 9;
    margin-right: .055em;
}

.logo span[data-title='CSS'] span:nth-child(2) {
    color: #89D228;
    background-color: #89D228;
    z-index: 8;
    margin-right: .05em;
}

.logo span[data-title='CSS'] span:nth-child(3) {
    color: #F27B2E;
    background-color: #F27B2E;
    z-index: 7;
    /* right: .1em; */
}

.logo span[data-title='Forest'] {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin-top: .2em;
    color: #89D228;
    font-family: SheikahGlyphs;
    font-size: 1.5rem;
    vertical-align: top;
}

.logo span[data-title='Forest']:after {
    content: attr(data-title)".org";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1.3em;
    color: rgba(84, 186, 243, .5);
    font-size: 1.5rem;
}

.logo span[data-title='CSS'] span:after {
    -webkit-transform: rotate(-52deg);
    -o-transform: rotate(-52deg);
    -moz-transform: rotate(-52deg);
    transform: rotate(-52deg);
}

.logo span[data-title='CSS'] span:nth-child(1):after {
    -webkit-transform: rotate(-68deg);
    -o-transform: rotate(-68deg);
    -moz-transform: rotate(-68deg);
    transform: rotate(-68deg);
    top: .05em;
}

/* === nav === */
.main-header {
    position: -webkit-sticky;
    z-index: 10;
    padding: 1.5em 0 0;
    background-color: #F1F1F1;
}

.main-header nav {
    overflow: hidden;
    margin-top: 1.5em;
    padding-left: 3em;
    background-color: #444444;
}

.main-header nav ul {
    display: block;
    margin: auto;
    padding: 0;
    max-width: 714px;
}

.main-header nav li {
    display: inline-block;
    margin-left: -14px;
    padding: 8px 15px;
    list-style: none;
    font-family: inherit;
}

.main-header nav a:link,
.main-header nav a:visited {
    color: #FFFFFF;
    background-color: transparent;
}

.main-header nav li:hover {
    background-color: #3399FF;
}

h2.listing-seperator,
h3.listing-seperator {
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
    margin-left: -3.5em;
    height: 0;
    color: #333333;
}

.tag_listing-seperator,
.categories_listing-seperator {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: -4.5rem;
    margin-bottom: -0.5rem;
    height: 1em;
    margin-left: 0;
    margin-bottom: -0.5rem;
    background-color: #FFFFFF;
    padding: 10px 0;
}

h3.listing-seperator {
    top: 3px;
}

/* === footer === */
.main-footer {
    padding: 1rem;
    background-color: #EEEEEE;
}

.main-footer p {
    max-width: var(--max-width);
    margin: auto;
}

.main-footer p a:link,
footer p a:visited {
    padding: 0;
}

.gist pre,
.gist td {
    background: none;
    border: none 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.txpCommentInputMessage {
    width: 50%;
}

.tag_listing,
.categories_listing {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    padding-left: 5px;
}

.listing {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.listing h4 {
    display: inline-block;
    margin: .2rem 0;
    font-size: 1.2rem;
    line-height: 1.5em;
}

.listing .new:before {
    content: "new";
    margin: 0 0 0 -2.5em;
    font-size: .5em;
    vertical-align: .9em;
    color: #F27B2E;
}

.listing a {
    margin-left: -.3em;
}

.listing .post-info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 0;
}

.listing time {
    color: #333333;
}

.listing .listing-item {
    line-height: 1.8em;
}

.tag_listing-item,
.categories_listing-item {
    line-height: 1.8em;
    list-style: none;
}

.listing .date-published span,
.update .date-update span {
    display: none;
}

.update {
    position: relative;
    z-index: 1;
}

.update time[itemprop="dateUpdate"] {
    position: absolute;
    left: -12em;
    margin-left: 8px;
    font-size: 10px;
    color: #F27B2E;
}

.update .post-info time[itemprop="dateUpdate"]:before {
    content: "update";
    margin-right: 4px;
    font-size: 10px;
    color: rgba(137, 210, 40, 0.5);
}

_::-webkit-full-page-media,
_:future,
:root .update h4:before {
    left: -12px;
}

_::-webkit-full-page-media,
_:future,
:root .update time[itemprop="dateUpdate"] {
    left: -71px;
}

#content {
    max-width: var(--max-width);
    margin: auto;
}

#content article>header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 4px 10px 0;
    margin: 0 -10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#content article>header h1 {
    font-size: 1.8rem;
    line-height: 1.3em;
    margin-top: 15px;
}

#content article>header p {
    padding-bottom: 5px;
}

#content article p {
    font-size: 1.1rem;
    line-height: 1.8em;
    letter-spacing: 1px;
}

#content article p img {
    display: block;
    width: auto;
    max-width: var(--max-width);
}

#content article li img {
    max-width: 100%;
}

#content .comments {
    padding: 0 0 30px;
}

#content iframe {
    border: 1px solid #CCC;
    border-width: 1px 1px 0;
    margin-bottom: 5px;
    max-width: 100%;
}

#tag_cloud {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

/* === code === */
.highlight .gutter,
.highlight .code,
.highlight .code pre,
.lineno {
    border: none 0;
    -webkit-box-shadow: none;
}

.highlight .gutter {
    width: 5%;
}

.archive-info {
    border-top: 4px solid #EFEFEF;
}

#content .mod-encourage img {
    display: inline-block;
}

.license img {
    width: 100px;
}

@media (max-width:800px) {

    .logo,
    #content {
        padding: 0 2rem;
    }

    .logo span[data-title='CSS'] span:after {
        -webkit-transform: rotate(-52deg);
        -o-transform: rotate(-52deg);
        -moz-transform: rotate(-52deg);
        transform: rotate(-52deg);
    }

    .logo span[data-title='CSS'] span:nth-child(1):after {
        -webkit-transform: rotate(-68deg);
        -o-transform: rotate(-68deg);
        top: 3px;
        -moz-transform: rotate(-68deg);
        top: 3px;
        transform: rotate(-68deg);
        top: 3px;
    }

    #content {
        margin: -1em 0 0;
    }

    #content article p img {
        width: 100%;
    }

    .main-header nav {
        margin-left: auto;
        padding-left: 1rem;
    }

    .main-header nav ul {
        display: flex;
        display: -webkit-box;
    }

    .main-header nav li {
        -webkit-box-flex: 1;
        flex: 5;
        margin-left: 6px;
        padding: .3em .1em;
        text-align: center;
    }

    h2.listing-seperator {
        height: auto;
        margin: 0;
        background-color: #FFFFFF;
        padding: 10px 0;
        top: 0;
    }

    h3.listing-seperator {
        margin-left: auto;
        text-align: right;
    }

    .listing {
        margin-top: 0;
    }

    .listing h4 {
        font-size: 1em;
    }

    .listing h4:before {
        position: absolute;
        content: '●';
        color: #54BAF3;
        left: 8px;
    }

    .update h4:before {
        content: '●';
        margin: 0;
        font-size: 1em;
        left: -24px;
        top: 4px;
        color: #F27B2E;
    }

    .tag_listing-seperator,
    .categories_listing-seperator {
        margin-left: 0;
    }

    _::-webkit-full-page-media,
    _:future,
    :root .update h4:before {
        left: -24px;
    }

    .update time[itemprop="dateUpdate"] {
        display: none;
    }

    .main-footer {
        font-size: .5rem;
    }

    .main-footer a {
        display: block;
    }
}

@media (max-width:420px) {
    .listing time {
        display: none;
    }
}