html,body{margin:0;padding:0;}
body{background-color:#FFFFFF;font-family:'Hiragino Sans GB','Microsoft YaHei',Simsun,Mingliu,Arial,Helvetica,sans-serif;font-size:85%;*font-size:90%;line-height:1.6em;}
*::-moz-selection{background-color:#323232;color:#FFFFFF;}
code::-moz-selection{background-color:#89D228;color:#FFFFFF;}
*::selection{background-color:#323232;color:#FFFFFF;}
code::selection{background-color:#7CB182;color:#FFFFFF;}
img,fieldset{border:0 none;}
a:link,a:visited{color:#54BAF3;-webkit-transition:color .25s linear;transition:color .25s linear;text-decoration:none;padding:0 5px;}
a:hover{color:#FFFFFF;-webkit-transition:color .25s linear;transition:color .25s linear;background-color:#F27B2E;border-radius:3px;-webkit-border-radius:3px;}
h1{color:#222222;}
h3 a:link,h3 a:visited{color:#222222;}
input[name="submit"].button{background-color:rgba(60,132,198,0.8);background-image:-moz-linear-gradient(rgba(28,91,155,0.8) 0,rgba(108,191,255,.9) 90%);border-top-color:#8BA2C1;border-right-color:#5890BF;border-bottom-color:#4F93CA;border-left-color:#768FA5;-webkit-box-shadow:rgba(66,140,240,0.5) 0 10px 16px;-moz-box-shadow:rgba(66,140,240,0.5) 0 10px 16px;}
input[name="submit"].button.disabled{background-color:rgba(244,244,244,0.8);background-image:-moz-linear-gradient(rgba(244,244,244,0.8) 0,rgba(0,0,0,.9) 90%);border-color:#ADB2B5;-webkit-box-shadow:rgba(173,178,181,0.5) 0 0 0;-moz-box-shadow:rgba(173,178,181,0.5) 0 10px 16px;color:#6D6D6D;cursor:default;font-weight:normal;text-shadow:rgb(255,255,255) 0 0 5px;}
table{border-collapse:collapse;width:99.9%;}
td,th{border:1px solid #CCCCCC;padding:6px;}
blockquote{margin:4px 0 4px 20px;padding:4px 8px;background-color:#EFEFEF;border-left:5px double #CCCCCC;white-space:pre-line;}
blockquote p{margin:0;}
sup{margin-left:-8px;}
em{padding:4px;}
pre,code,kbd{background-color:#F6F6F6;font-family:Consolas,"Courier New",Courier,monospace;}
code{white-space: pre-wrap;}
pre{margin:4px 0;padding:4px 8px;border-color:#CCCCCC;border-style:solid;border-width:1px 1px 3px;word-wrap:break-word;-moz-box-shadow:0 3px 6px rgba(0,0,0,0.25);-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.25);}
article, aside, footer, header, hgroup, main, nav, section{display: block;}
.none{display:none;}

/* === logo === */
.logo{max-width:800px;margin:0 auto;padding:0 3rem;font-size:380%;font-family:Helvetica,"Microsoft YaHei",STHeiti,Georgia,"Times New Roman",Times,serif;background-image:linear-gradient(bottom,#2EF5F5 17%,#309EFF 51%,#2B78ED 81%);}
.logo a:link,.logo a:visited{color:#6B6C6C;}
.logo a:hover{background-color:transparent;}
.logo span[data-title='CSS']{margin-right:5px;}
.logo span[data-title='CSS'] span{display:inline-block;position:relative;padding:20px 5px;border-radius:10px;color:#FFFFFF;}
.logo span[data-title='CSS'] span:after{content:"";display:block;position:absolute;top:0;left:32px;width:20px;height:60px;border-radius:20px;background-color:#F1F1F1;}
.logo span[data-title='CSS'] span:nth-child(1){color:#54BAF3;background-color:#54BAF3;z-index:9;}
.logo span[data-title='CSS'] span:nth-child(2){color:#89D228;background-color:#89D228;z-index:8;}
.logo span[data-title='CSS'] span:nth-child(3){color:#F27B2E;background-color:#F27B2E;z-index:7;}
.logo span[data-title='Forest']{display:inline-block;position:relative;z-index:10;margin-top:3px;color:#89D228;font-size:50%;vertical-align:top;}
.logo span[data-title='Forest']:after{content:attr(data-title)".org";display:inline-block;position:absolute;left:0;top:30px;color:rgba(84,186,243,.5);font-size:120%;}
.logo span[data-title='CSS']:hover span:after{-webkit-transform:rotate(-52deg);-o-transform:rotate(-52deg);-moz-transform:rotate(-52deg);transform:rotate(-52deg);}
.logo span[data-title='CSS']:hover span:nth-child(1):after{-webkit-transform:rotate(-68deg);-o-transform:rotate(-68deg);top:3px;-moz-transform:rotate(-68deg);top:3px;transform:rotate(-68deg);top:3px;}

/* === nav === */
.main-header{padding:20px 0 0;background-color:#F1F1F1;}
.main-header nav{overflow:hidden;margin-top:16px;padding-left:3rem;background-color:#444444;}
.main-header nav ul{display:block;margin:auto;padding:0;max-width:856px;}
.main-header nav li{display:inline-block;margin-left:-14px;padding:8px 15px;list-style:none;font-family:inherit;}
.main-header nav a:link,.main-header nav a:visited{color:#FFFFFF;background-color:transparent;}
.main-header nav li:hover{background-color:#3399FF;}

/* === footer === */
.main-footer{padding:1rem;background-color:#EEEEEE;}
.main-footer p{max-width:800px;margin:auto;}
.main-footer p a:link,footer p a:visited{padding:0;}
.gist pre,.gist td{background:none;border:none 0;-moz-box-shadow:none;-webkit-box-shadow:none;}
.txpCommentInputMessage{width:50%;}
.listing h4{display:inline-block;margin:.2rem 0;font-size:1.5em;line-height:1.5em;}
.listing h4.upadte:before{content:"new";margin:0 0 0 -2.5em;font-size:.5em;vertical-align:.9em;color:#F27B2E;}
.listing time{color:#333333;}

#content{max-width:800px;padding:0 3rem;margin:auto;}
#content article h1{font-size:1.5rem;}
#content article p{font-size:1rem;line-height:1.8em;}
#content article p img{display:block;width:auto;max-width:800px;}
#content iframe{border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px;max-width:100%;}
#emotify-widget-frame{border:0 none !important;}

/* === code === */
.highlight .gutter,
.highlight .code,
.highlight .code pre,
.lineno{border:none 0;-webkit-box-shadow:none;}
.highlight .gutter{width:5%;}

/*#sidebar {
    border-top: .5rem solid #EEEEEE;
}
#cse table td {
    border: none;
}
#swete-basic-badge {
    position: absolute;
    left: -200px;
}*/
.archive-info{border-top:4px solid #EFEFEF;}
#content .mod-encourage img{display:inline-block;}

@media (max-device-width:420px){
.logo,#content{padding:0 1rem;}
.logo span[data-title='CSS'] span:after{-webkit-transform:rotate(-52deg);-o-transform:rotate(-52deg);-moz-transform:rotate(-52deg);transform:rotate(-52deg);}
.logo span[data-title='CSS'] span:nth-child(1):after{-webkit-transform:rotate(-68deg);-o-transform:rotate(-68deg);top:3px;-moz-transform:rotate(-68deg);top:3px;transform:rotate(-68deg);top:3px;}
.main-header nav{padding-left:1rem;}
.main-header nav{margin-left:auto;padding-left:0;}
.main-header nav ul{display:flex;display:-webkit-box;}
.main-header nav li{-webkit-box-flex:1;flex:5;margin-left:6px;padding:6px;text-align:center;}
.listing h4{font-size:1em;}
.listing h4:before{content:'●';color:#54BAF3;}
.listing time{display:none;}
}