<footer class="archive-info">
    {% if page.categories %}
    <p>文章被分类到：
        {% for categorie in page.categories %}
        <a href="{{ site.url }}/categories/#{{ categorie }}" title="{{ categorie }}">{{ categorie }}</a>
        {% endfor %}
    </p>
    {% endif %}
    {% if page.tags %}
    <p>文章被贴上标签：
        {% for tag in page.tags %}
        <a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </p>
    {% endif %}
    <hr />
    <p>文章内容遵守 <a class="license" rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" target="_blank" title="CC BY-NC-SA：本许可证允许重复使用者以任何媒介或格式分发、重新混合、改编和构建这些材料，但仅限于非商业目的，且仅限于作者署名。如果您重新混合、改编或构建该材料，您必须根据相同的条款许可修改后的材料。">CC BY-NC-SA 4.0</a> 许可协议，转载请注明出处。</p>
    <p class="coffee"><a href="https://www.buymeacoffee.com/ghostzhang" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="如果内容对你有用，请作者喝杯咖啡" /></a></p>
</footer>