<footer class="archive-info">
    <p class="mod-encourage">
    <strong>如果您觉得本文的内容对您的学习有所帮助，可以通过“微信”或“支付宝”鼓励、共勉。</strong><br/>
    <img src="{{ site.file }}/weixin.png" alt="微信转账" />
    <img src="{{ site.file }}/alipay.png" alt="支付宝转账" />
    </p>
    {% if page.categories %}
    <p>文章被分类到：
    {% for categorie in page.categories %}
    <a href="{{ site.url }}/categories/#{{ categorie }}" title="{{ categorie }}">{{ categorie }}</a>
    {% endfor %}
    </p>
    {% endif %}
    {% if page.tags %}
    <p>文章被贴上标签：
    {% for tag in page.tags %}
    <a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a> 
    {% endfor %}
    </p>
    {% endif %}
</footer>

{% if page.coffee %}
<script src="{{ site.url }}/editr/libs/parser.coffeescript.js"></script>
{% endif %}
{% if page.less %}
<script src="{{ site.url }}/editr/libs/parser.less.js"></script>
{% endif %}
<script>
var _statcounter = _statcounter || [];
    _statcounter.push({"tags":{
    {% if page.id %}
        "page": "{{ page.title }}"
    }});
    {% endif %}
    {% if page.tags %}
    {% capture tags %}
    {% tags = page.tags %}
    _statcounter.push({"tags":{
        "tag": "{{ page.tags[0] }}"
        {% for tag in (1..tags.quantity) %}
        ,"tag": "{{ tag }}"
        {% endfor %}
    }});
    {% endif %}
    {% if page.categories %}
    {% capture categories %}
    {% categories = page.tags %}
    _statcounter.push({"tags":{
        "categorie": "{{ page.categories[0] }}"
        {% for tag in (1..categories.quantity) %}
        ,"categorie": "{{ categorie }}"
        {% endfor %}
    }});
    {% endif %}
</script>