{% if page.comments %}
{% assign comments = page.comments %}
{% else %}
{% assign comments = site.comments %}
{% endif %}
{% if comments %}
<h2>讨论</h2>
<div class="comments">	
    <script src="https://giscus.app/client.js"
        data-repo="ghostzhang/ghostzhang.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyMzU2MjQ1OA=="
        data-category="博客"
        data-category-id="DIC_kwDOAWeI2s4CPzzw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>
{% endif %}