{% if page.demo %}
<div class="editr" {% if include.html %}data-files-html="{{ include.html }}"{% endif %} {% if include.css %}data-files-css="{{ include.css }}"{% endif %} {% if include.js %}data-files-js="{{ include.js }}"{% endif %}
{% if include.view %}
	{% case include.view %}
	{% when "h" %}
	 data-view="horizontal"
	{% when "v" %}
	 data-view="vertical"
	{% when "c" %}
	 data-view="cartesian"
	{% else %}
	{% endcase %}
	{% if include.hide %}
	 data-hide="{{ include.hide }}"
	{% else %}
	 data-hide="all"
	{% endif %}
{% else %}
	{% if include.hide %}
	 data-hide="{{ include.hide }}"
	{% elsif include.js == null %}
	 data-hide="js"
	{% endif %}
{% endif %}
><span class="none">效果展示</span></div>
{% endif %}