<footer class="main-footer" role="contentinfo">
  <div id='MicrosoftTranslatorWidget' class='Dark' style='color:white;background-color:#555555'></div>
  <p>
    <a class="license" rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
      <img src="{{ site.file }}/by-nc-sa.png" width="100" height="35"
        alt="CC BY-NC-SA：本许可证允许重复使用者以任何媒介或格式分发、重新混合、改编和构建这些材料，但仅限于非商业目的，且仅限于作者署名。如果您重新混合、改编或构建该材料，您必须根据相同的条款许可修改后的材料。" />
    </a><br />
    <a title="RSS订阅今年的文章" accesskey="6" href="/feed/" target="_blank">今年的文章</a>
    <a title="RSS订阅所有文章" accesskey="6" href="/feed/all.xml" target="_blank">所有文章</a> <!--  订阅统计发布代码开始 -->
    <a href="http://feeds.feedburner.com/CssForest-Articles" rel="alternate" type="application/rss+xml">
      <img src="//feedburner.google.com/fb/images/pub/feed-icon16x16.png" width="16" height="16" alt=""
        style="vertical-align:middle;border:0" />
    </a>
    <br />
    Copyright &copy; 2007-{{ site.copyright }} CSSForest.org <br />Style
    by Ghostzhang
  </p>
</footer>

{% if page.demo %}
<script src="{{ site.url }}/editr/libs/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.01/min/ace.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.1.01/min/ext-emmet.js"></script>
<script src="{{ site.url }}/editr/libs/ext.emmet.js"></script>
{% if page.coffee %}
<script src="{{ site.url }}/editr/libs/parser.coffeescript.js"></script>
{% endif %}
{% if page.less %}
<script src="{{ site.url }}/editr/libs/parser.less.js"></script>
{% endif %}
<script src="{{ site.url }}/editr/editr.js"></script>
<script>
  $('.editr').each(function () {
    new Editr({
      el: this,
      theme: 'clouds',
      path: '{{ site.url }}/demo/{{ page.title }}'
    });
  });
</script>
{% endif %}
{% if comments and page.id %}

{% endif %}

<!-- 无障碍工具 开始 -->
<!-- <script type='text/javascript'>setTimeout(function(){{var s=document.createElement('script');s.type='text/javascript';s.charset='UTF-8';s.src=((location && location.href && location.href.indexOf('https') == 0)?'https://ssl.microsofttranslator.com':'http://www.microsofttranslator.com')+'/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**&ctf=True&ui=true&settings=undefined&from=zh-CHS';var p=document.getElementsByTagName('head')[0]||document.documentElement;p.insertBefore(s,p.firstChild); }},0);</script> -->
<script>
  if (!(/Android|webOS|iPhone|Windows Phone|iPod|BlackBerry|SymbianOS/i.test(navigator.userAgent))) {
    (function (i, s, o, g) {
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      m.parentNode.insertBefore(a, m);
      a.src = g;
    })(window, document, 'script', '/js/tat.v1.0.1.min.js');
  }
</script>
<!-- 无障碍工具 结束 -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD95DN" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->