		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-cn" />
		<meta name="robots" content="all" />
		<meta name="author" content="GhostZhang" />
		<meta name="Copyright" content="CSSForest" />
		<meta name="Description" content="一个页面仔的成长经程" />
		<meta name="application-name" content="CSS森林(CSS Forest)" />
		<meta name="Keywords" content="CSS森林,css forest,Ghost,GhostZhang,页面重构,模块化设计,模块化,forest,CSS,样式表,Blog,博客,XHTML" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />