<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project = 10403973;
    var sc_invisible = 1;
    var sc_security = "a1f2b1c9";
    var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
    document.write("<script type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'><\/script>");
</script>
<!-- End of StatCounter Code for Default Guide -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-780254-9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-780254-9');
</script>