{% if page.path == 'index.html' %}
<h1 class="logo">{% include logo.html %}</h1>
{% else %}
<div class="logo">{% include logo.html %}</div>
{% endif %}	

	<nav>
	<h2 class="none">导航</h2>
	<ul>
		<li><a title="网站首页"  accesskey="1" href="/">首页</a></li>
		<li><a title="文章分类"  accesskey="2" href="/categories/">分类</a></li>
		<li><a title="标签索引"  accesskey="3" href="/tags/">标签</a></li>
		<li><a title="友情链接"  accesskey="4" href="/links/">链接</a></li>
		<li><a title="关于站长"  accesskey="5" href="/about/">关于</a></li>
	</ul>
	</nav>