<!DOCTYPE html>
<html>

<head>
    {% include header.html %}
    <script>
        /**
         * [parseURL 解析url]
         * @param  {[String]} url [url]
         * @return {[Object]}     [返回解析好的对象]
         */
        function parseURL(url) {
            var a = document.createElement("a");
            a.href = url;
            return {
                source: url,
                protocol: a.protocol.replace(":", ""),
                host: a.hostname,
                port: a.port,
                query: a.search,
                params: (function () {
                    var ret = {},
                        seg = a.search.replace(/^\?/, "").split("&"),
                        len = seg.length, i = 0, s;
                    for (; i < len; i++) {
                        if (!seg[i]) { continue; }
                        s = seg[i].split("=");
                        ret[s[0]] = s[1];
                    }
                    return ret;
                })(),
                file: (a.pathname.match(/\/([^\/?#]+)$/i) || [, ""])[1],
                hash: a.hash.replace("#", ""),
                path: a.pathname.replace(/^([^\/])/, "/$1"),
                relative: (a.href.match(/tps?:\/\/[^\/]+(.+)/) || [, ""])[1],
                segments: a.pathname.replace(/^\//, "").split("/")
            };
        }

        let articleUrl = parseURL(document.location.href);
        let newHost = "{{ site.url }}";
        let newUrl = "";
        let oldBlogId = articleUrl.params["id"];
        let isOldBlogHost = articleUrl.params["host"] == "blog.cssforest.org";
        let isOldBlogDir = articleUrl.segments[0] == "blog";

        if (isOldBlogHost) {
            window.location.href = newHost + articleUrl.path;
        }
        if (isOldBlogDir) {
            window.location.href = newHost;
        }

        switch (oldBlogId) {
            case "134":
                newUrl = newHost + "/2009/06/21/页面重构中的模块化思维.html";
                break;
            case "161":
                newUrl = newHost + "/2010/03/24/样式的作用域-页面重构中的模块化设计-一.html";
                break;
            case "162":
                newUrl = newHost + "/2010/04/03/栏目级作用域-页面重构中的模块化设计-二.html";
                break;
            case "164":
                newUrl = newHost + "/2010/04/16/继承-页面重构中的模块化设计-三.html";
                break;
            case "165":
                newUrl = newHost + "/2010/05/12/模块化的核心思想-页面重构中的模块化设计-四.html";
                break;
            case "167":
                newUrl = newHost + "/2010/06/11/基类-扩展类-页面重构中的模块化设计-五.html";
                break;
            case "168":
                newUrl = newHost + "/2010/07/20/CSS模块的注释-页面重构中的模块化设计-六.html";
                break;
            case "152":
                newUrl = newHost + "/2010/10/16/Data-URI的利弊.html";
                break;
            case "38":
                newUrl = newHost + "/2012/01/16/CSS书写顺序.html";
                break;
            case "129":
            case "131":
                newUrl = newHost + "/2019/02/17/CSS-Sprites-样式生成工具.html";
                break;
            case "143":
                newUrl = newHost + "/2008/03/20/样式命名规则.html";
                break;
            case "185":
                newUrl = newHost + "/2011/05/19/重新认识CSS的权重.html";
                break;
            case "195":
                newUrl = newHost + "/2012/02/08/浏览器工作原理浅析.html";
                break;
            default:
                break;
        }
        if (newUrl != "") {
            window.location.href = newUrl;
        }

    </script>
</head>

<body>
    <div id="container">
        <header class="main-header">
            {% include nav.html %}
        </header>
        <main id="content" role="main">
            <article id="content" role="main" class="nofind">
                <p>你要找的文章位置已经变更或删除，感谢你的关注，欢迎留言。</p>
            </article>
            <section>
                <h2>评论</h2>
                <!-- 评论框 start -->
                {% include comments.html %}
                <!-- 评论框 end -->
            </section>
        </main>
        {% include footer.html %}
    </div>
</body>

</html>