<!DOCTYPE html>
<html>
	<head>
	{% include header.html %}
	</head>
	<body>
		<div id="container">
			<header>
			  <h1 class="logo"><a href="http://blog.cssforest.org/"><span data-title="CSS"><span>C</span><span>S</span><span>S</span></span><span data-title="Forest">森林</span></a></h1>
			  <nav>
			    <h2 class="none">导航</h2>
			    <ul>
			     <li><a href="http://blog.cssforest.org/" accesskey="1" class="menunow" title="首页">INDEX</a></li>
			     <li><a href="##" accesskey="2" title="关于">ABOUT</a></li>
			    </ul>
			  </nav>
			</header>
			<div id="content">
		　　　　{{ content }}
				<!-- 多说评论框 start -->
					<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
				<!-- 多说评论框 end -->
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>