<!DOCTYPE html>
<html>
	<head>
　　　　	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="zh-cn" />
		<meta name="robots" content="all" />
		<meta name="author" content="GhostZhang" />
		<meta name="Copyright" content="CSSForest" />
		<meta name="Description" content="<txp:page_title />" />
		<meta name="application-name" content="CSS森林(CSS Forest)" />
		<meta name="Keywords" content="CSS森林,css forest,Ghost,GhostZhang,页面重构,模块化设计,模块化,forest,CSS,样式表,Blog,博客,XHTML" />
		<title>{{ page.title }}</title>
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
	</head>
	<body>
		<div id="container">
			<header>
				<h1><a href="http://blog.cssforest.org/"><span data-title="CSS"><span>C</span><span>S</span><span>S</span></span><span data-title="Forest">森林</span></a></h1>
			</header>
			<div id="content">
		　　　　{{ content }}
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>